*.swp
*~
qrc_*
*.moc
*.o
*.pdb
ui_*
moc_*
*.pyc
/m2adapter/version.h
/m2adapter/Makefile
/m2adapter/conf.log
/m2adapter/conf.pri
/m2adapter/m2adapter
/m2adapter/src/Makefile
/proxy/version.h
/proxy/Makefile
/proxy/conf.log
/proxy/conf.pri
/proxy/p-8-proxy
/proxy/src/pro/libp-8-proxy/Makefile
/proxy/src/pro/p-8-proxy/Makefile
/proxy/src/libp-8-proxy.a
/proxy/tests/Makefile
/proxy/tests/pro/*/Makefile
/proxy/tests/*test
/handler/version.h
/handler/Makefile
/handler/conf.log
/handler/conf.pri
/handler/p-8-handler
/handler/src/pro/libp-8-handler/Makefile
/handler/src/pro/p-8-handler/Makefile
/handler/src/libp-8-handler.a
/handler/tests/Makefile
/handler/tests/pro/*/Makefile
/handler/tests/*test
/runner/run
/runner/log
/p-8.inst
/tools/publish/version.h
/tools/publish/Makefile
/tools/publish/conf.log
/tools/publish/conf.pri
/tools/publish/p-8-publish
